@font-face {
    font-family: 'Libron';
    src: url(fonts/Libron-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libron';
    src: url(fonts/Libron-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libron';
    src: url(fonts/Libron-Italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libron';
    src: url(fonts/Libron-BoldItalic.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libron";
    text-decoration: none;
}

blockquote {
    font-weight: 700;
    text-align: left;
}

#splashscreen-section {
    background-image: url('P1040274.jpg');
    background-size:  cover;
    background-repeat: no-repeat;
    width: auto;
}

#signup-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#create_account_button {
    background-color: #596D48;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
}

